/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */
#features {
  text-align: center;
}
#features img{
  margin: 0 0 20px;
}

#Message{
  margin-bottom: 15px;
}
.footer{
  width: 100%;
  background: #333;
  color: #eee;
  font-size: 13px;
  padding: 10px;
}


/* --------------------------------------
   Typography
   -------------------------------------- */
body{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-image: url(../../images/background.jpg);
  font-family: 'Dosis', sans-serif;
}
.well .page-header{
  margin-top: 0;
}
.well .page-header h1{
  margin-top: 0;
}
ul.unstyled{
  list-style: none;
  padding: 0;
}
.img-circle
{
  width:55%;
}
.tabbable
{
  font-size: 18px;
}
.Info
{
  font-size: 18px;
}
.conservation
{
  font-size: 18px;
}
.conservation h3
{
font-size: 23px;
color: red;
text-decoration: underline;
}
.navbar
{
  font-size: 18px;
}
/* --------------------------------------
   Navbar
   -------------------------------------- */
   #searchinput{
     width: 200px;
   }
   .navbar-brand{
     padding: 13px 15px;
   }
.nav li a{
  color: #777;
}
.nav .caret{
  color: #777;
  border-top-color: #777;
  border-bottom-color: #777;
}
/* --------------------------------------
   Carousel
   -------------------------------------- */
#myCarousel .item{
height: 400px;
}
#slide1{
  background: url('../../images/m11.jpg') top center no-repeat;
}
#slide2{
  background: url('../../images/m2.jpg') top center no-repeat;
}
#slide3{
  background: url('../../images/m3.jpg') top center no-repeat;
}

#myCarousel{
  margin-top: 60px;
}
.carousel-caption{
  font-size: 24px;
  color: white;
}
.carousel-caption h4{
  font-size: 32px;
}

/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
.thumbnail .price{
  font-size: 14px;
}
.thumbnail .price sup{
  font-size: 10px;
}
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  #myCarousel .item{
  height: 310px;
  }
  #slide1{
    background: url('../../images/small1.jpg') top center no-repeat;
  }
  #slide2{
    background: url('../../images/small2.jpg') top center no-repeat;
  }
  #slide3{
    background: url('../../images/small3.jpg') top center no-repeat;
  }
  .carousel-caption{
    font-size: 12px;
  }
  .carousel-caption h4{
    font-size: 22px;
  }
}

/* Large desktop */
@media (min-width: 1200px) {
  #myCarousel .item{
  height: 500px;
  }
  #slide1{
    background: url('../../images/large11.jpg') top center no-repeat;
  }
  #slide2{
    background: url('../../images/large22.jpg') top center no-repeat;
  }
  #slide3{
    background: url('../../images/large33.jpg') top center no-repeat;
  }
  #slide4{
    background: url('../../images/tiger.jpg') top center no-repeat;
  }
  #slide5{
      background: url('../../images/tiger 2.jpg') top center no-repeat;
    }
  #slide6{
    background: url('../../images/large33.jpg') top center no-repeat;
      }
  #slide7{
      background: url('../../images/large11.jpg') top center no-repeat;
          }
  #slide8{
     background: url('../../images/large22.jpg') top center no-repeat;
              }
  #slide9{
    background: url('../../images/large33.jpg') top center no-repeat;
                  }
}
